$primary = #eee19b;
$secondary = #3e4532;
$gradient = linear-gradient(90deg, #D0E6A5 0, #FFDD94 333.45%);
$transition = 0.3s all ease-in-out;

$container
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;